
body{
    margin:0px;
    background:#000;
}
.header {
    height:50px;
    background:#F0F0F0;
    position: fixed;
    border:1px solid #CCC;
    width:100%;
    top:0px;
    margin:0px auto;
}
.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 20px auto;
}
